/* Put your CSS here */
.ember-application {
    margin: 20px;
}
.todo-title {
    text-align: center;
    margin-bottom: 20px;
}
.todo-items {

    margin: 20px 0;
}
.todo-count {
    padding: 10px;
    text-align: center;
}
.todo-items ul {
    padding: 0;
    margin: 0;
}
.todo-items ul li {
    padding: 3px 3px;
    list-style: none;
    border-bottom: 1px solid #cccccc;
}
.todo-item-btns {
    padding-right: 4px;
}
.todo-item-date {
    color: #4c4c4c;
    padding: 0 4px;
    font-size: 10px;
    width: 70px;
    display: inline-block;
}
.todo-item-done-true .todo-item-text {
    color: #818181;
    text-decoration: line-through !important;
}
.todo-item-deadline {
    background: #F08F92
}